/*
Tiffany Harrell
CSC 227.0002 Final Project
4/8/2022
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666666;
    padding: 10px 30px;
}

#container {
    width: 600px;
    margin: 75px auto;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 3px solid #000000;
}

h1 {
    text-align: center;
}